In [2]:
import pandas as pd

In [3]:
#Series
values = [10,20,30,40]
s = pd.Series(values, index=['a', 'b','c', 'd'])
s.loc['a']

#Data Frame:
df = pd.DataFrame({

    'name' : ['mike', 'bob' , 'Raj' ],
    'age' : [19, 20,18],
    'branch' : ['CSE', 'IT', 'DS']
})
df = df.set_index('name')
df

      age branch
name
mike   19    CSE
bob    20     IT
Raj    18     DS

In [4]:
df.loc['Raj']

age       18
branch    DS
Name: Raj, dtype: object

In [5]:
df1 = pd.DataFrame({
'a': [1,2,3,4]
    
} , index=[0,1,2,3])

df2 = pd.DataFrame({

'a' : [5,6,7,8]
    
},[3,0,2,1])

In [6]:
df1 + df2

    a
0   7
1  10
2  10
3   9

In [8]:
df= df.reset_index()

In [9]:
df

   index  name  age branch
0      0  mike   19    CSE
1      1   bob   20     IT
2      2   Raj   18     DS

In [14]:
df.to_csv('mydata.csv', index=None)

In [16]:
pd.read_csv('mydata.csv', index_col=0)

       name  age branch
index
0      mike   19    CSE
1       bob   20     IT
2       Raj   18     DS

In [17]:
df.to_json('mydata.json')

In [18]:
df.to_dict()

{'index': {0: 0, 1: 1, 2: 2},
 'name': {0: 'mike', 1: 'bob', 2: 'Raj'},
 'age': {0: 19, 1: 20, 2: 18},
 'branch': {0: 'CSE', 1: 'IT', 2: 'DS'}}